{% extends 'base/base.html' %}


{% block title %} Welcome {% endblock title %}
       

{% block content %}

  <div>
       <h2 class="Aims-And-Scope-header"> Aims And Scope</h2> 
       <p class="Aims-And-Scope-notes">
        The Faculty of Biological Sciences, Alex Ekwueme Federal University Ndufu-Alike, Ebonyi State of Nigeria is the publisher of <br>International Journal of Biological Science and Molecular Research.It publishes in English, peer reviewed  articles in this quarterly multi<br> disciplinary journal , with the aim of disseminating information on multi-disciplinary research and sundry issues in Biological Sciences. <br>The scope of the journal covers areas of Biology, Botany, Zoology, Biochemistry, Mycology, Plant Pathology,<br>  Microbiology, Biotechnology, Molecular Biology and Genetics, Agricultural Science, Parasitology, Entomology, Medical Sciences, <br>  Environmental biology and other related fields.
    </p>
  </div>
{% endblock content %}