{% extends 'base/base.html' %}
{% load static %}

{% block title %} Welcome {% endblock title %}
       

{% block content %}

  <div>
    <p class="Archives">Archives</p>
      
    <div class="current-issues-styling">
      <div class="currrent-image-container">
      <img class="current-image1" src="{% static 'images/ban1.png' %}" >
    </div>

    <div>
      <img class="current-image2" src="{% static 'images/cur1.jpg' %}" >
    </div>
  </div>
   
  <div>
    <h4 class="current-iss-h4">International Journal Of Biological sciences and Molecular<br/>Research</h4>

                     <div class="current-issues-write-up1">  An International Journal Of Biological Sciences<br/>
                                Publisher<br/>
                            Faculty Of Biological Sciences,<br/>
                            Alex Ekwueme Federal University, Ndufu-Alike<br/>
                            Ebonyi State. Nigeria.<br/>
                                 Editorial Office<br/>
        International Journal Of Biological Sciences and Molecular Research<br/>
        Alex Ekwueme Federal University, Ndufu-Alike<br/>
                            Ebonyi State. Nigeria.<br/>  
                            P.M.B 1010, Abakaliki, Nigeria.<br/>
                            <a href="#">www.ijbsmr.org www.ijbsmr.com</a><br/>
                            e-mail:ijbsrmr2023@gmail.com<br/>
                            e-ISSN:3027-2060<br>
                            Print ISSN:3026-9930<br/>
                                copy right<br/><br/>
        All right is reserved. No part of this publication may be reproduced in any form by an<br>
             means, without tghe prior permission of the Editor-in-chief.<br/><br/></div>

            <div class="spans"> <span class="span1">volume 1 </span>       <span class="span1"></span> issue 1</span>         <span class="span1"> April,2023<br/><br/></span> </div>



   <h4 class="inter-journal-header">International Journal Of Biological sciences and Molecular<br/>Research</h4>

                <div class="inter-journal-write-up"> An International Journal Of Biological Sciences<br/>
                              Editor-in-chief<br/>
                        professor Onyekachi Francis Akanu Ibiam<br/>
                                  Editors<br/>
                                  prof. chuma Okoro<br/>
                                  prof. Friday N. Nweke<br/>
                                  Associate Editors<br/>
                          Dr. Azubuike p. Ebokaiwai(Biochemistry)<br/>
                           Dr. Ogochuukwu C. Chiama(Biology)<br/>
                           Dr. Okoro Nworie(Microbiology)<br/>
                           Dr. Kingsley E. Nwagu(Biotechnology)<br/>
                                Editorial Advisers<br/>
                            prof. Ferdinard C. chialaka(University of Nigeria)<br/>
                        prof.Ositadinma C. Ugbogu(Abia State University Nigeria)<br/>
                          prof. Francis D. Sikoki(African University Nigeria)<br/>
                      prof.Augustin A. Uwakwe (University of Portharcourt, Nigeria)<br/>
                         prof. Chibuike Udenigwe (University of Ottawa, Canada)<br/>

                                      Bussiness Manager<br/>
                                      Dr. Obinna A. Oje<br/>

                                        Secretary<br/>
                                        DR. Micheal C Ukaegbu<br/>

                                        Financial Secretary / Treasurer<br/>
                                        Dr. Deborah Obaji<br/><br/></div>
                                        <h4 class="scope-header">Scope of the journal </h4><br/>
              <div class="scope-writr-up">The journal publishes articles from the areas of agriculture, animal science, food technology and<br>
              engineering, crop science and  production, genetics, medical sciences, botany, zoology, biotectnology,<br>
                           microbiology, molecular researches etc.<br/>
                           <h4>Guidlines For Manuscript Preparation</h4>
                    prospectiive contributors who wishes to publish their papers in our<br>
                    journal (international journal of Biological Sciences and Molecular<br>
                                     Research (IJBSMR) ) should submit<br>
                    their corrected article within the two weeks following the guideline of the<br>
                    journal: are required ues the following guidelines in preparing <br>
                                        manuscripts:<br>
                    1. Type using double line spacing from abtract to References.<br> 
                      2. Font should be Times New Roman and font size 12<br>
                    3. Manuscript pages should be numbered consecutivly and arranged<br>
                                   in the follqwing order.
                      i. Title page (containing paper title, author(s) names(s) and their <br>
                      affilition(s) with an indication of the corresponding authors, <br>
                      email/GSM NO Abstract (not more than 150-250 words). with short<br>
                             Methodology,Results and conclustions).
                      ii. In text introduction, Materials and Methods, Results,<br>
                      Discusssion, Conclutions and Recommendations,Acknowledgement<br>
                                               (if necesssary)
                      iii. In text citations-Okorie (2020) for a single author, Nwalobu and <br>
                        ibiam(2017): for two authors, Ukwa et al, 2022: authors in a <br>
                        bracket (ibiam et al, 2017:Okorie,2020:Ukwa et al, 2022, Oti,2022)<br>
                      iv. Reference must include author(s) name(s), year of publication<br>
                          title of journal volume and page numbers (In text citations<br>
                              & Reference should follow  APA referencing style )
                      v. The heading of every secftion should be bold and left justified The<br>
                             the text must begin on the next line after each heading<br>
                      vi. All figures, tables, plate and authors must be placed as cited<br>
                         within th text and and should be numbered consecutively with suitable <br>
                                  Legends<br>
                      vii. Manuscripts may contain as many tables, figures, and tmplates as<br>
                           possible, as long as the paper  does not exceed eight (8) pages<br>
                      viii. Mathtimatical symbols and formulaeshould be numbered <br>
                             consecutively the text uncommon and ambiguious symbols<br>
                                         should be explained.
                      ix. Use of international system  of units(s) Authors should also <br>
                           provide alternate units in parentheses fornthe convenience of <br>
                              readers who are not versed in the use of SI Units<br>
                      x.  Maximum number of pages is 8 single spacing and 16 pages<br>
                          of double spacing .Any extra page and colour print will atract extra<br>
                                            charges<br>
                All articles should be submitted to:<br><br/></div>
                                                  <div class="Editor-in-chief-write-up">The Editor-in-chief<br>
                                                  International Journal Of Biological Science and Molecular<br>
                                                  Research<br>
                                                     <a href="#">ijbsmr2021@gmail.com</a><br>
                                                     <h4>FROM THE EDITOR'S</h4><br>
                                                     <div class="editors-image">
                                                      <img class="current-image-3" src="{% static 'images/cur1.jpg' %}" ><br>
                                                     </div><br>
                                              Professor Oyekachi Francis Akanu Ibiam<br/>
                        The International Journal Of Biological Sciences and Molecular Research is a publication <br>
                        of the faculty of Biological Sciences, Alex Ekwueme University, Ndufu-Alike,Ebonyi<br>
                        State Nigeria. The faculty houses four programms-Biochemistry-Biology(Botany and<br>
                         Zoology), Biotechnology and Microbiology.<br/>
                         This Journal is a maiden publication  and double blind review was followed to review all<br>
                         the articles published. Qaulity academics were involved in the review of this articles,<br>
                         which are of high quality. the article seeks to dissiminate scintifiic which<br>
                         contributes to gjobal knowledge towards food security, Good health, environmental<br>
                         technology, economic and sustainable development of any nation.<br/>
                         
                         The Editorial team has worked tirelessly  to bring the journal into a dream come through<br>
                         and i thank them immensely<br/>

                         We invite academics in all areas of griculture, animal science, food technology, and <br>
                         engineering, crop science and production, medical molecular etc, to submitt their articles<br>
                         for publication in this journal.<br/><br/>

                                              Professor Oyekachi Francis Akanu Ibiam<br/><br/>
                                                    Editor-in-chief</div>
                                 

          <p  class='volume-4-para'>volume 1(1) published April,2023</p> 
           
          <div class="docx-file-link"> <a href="{%  static 'images/Abel et al 1.pdf' %}" download>
            Abel et al 1.pdf, volume 1(1) April,2023 first Articls  </a></div> 
            <div class="docx-file-link"> <a href="{% static 'images/Ebokaiwe et al 1.pdf' %}" download>
              Ebokaiwe et al 1.pdf,  volume 1(1) April,2023 2nd Articls  </a></div> 
              <div class="docx-file-link"> <a href="{% static 'images/Owolabi et al.pdf' %}" download>
                Owolabi et al.pdf,  volume 1(1) April,2023 Articls 3 </a></div> 
                <div class="docx-file-link"> <a href="{% static 'images/Nnabugwu et al 1.pdf' %}" download>
                  Nnabugwu et al 1.pdf,  volume 1(1) April,2023 Articls 4 </a></div> 
                  <div class="docx-file-link"> <a href="{% static 'images/Igwe et al 1.pdf' %}" download>
                    Igwe et al 1.pdf,  volume 1(1) April,2023 Articls s </a></div>
                  <div class="docx-file-link"> <a href="{% static 'images/Obaji  and  Oamen 1.pdf' %}" download>
                    Obaji  and  Oamen 1.pdf,  volume 1(1) April,2023 Articls 6</a></div>
                    <p  class='volume-4-para'>volume 1(2) published july,2023</p> <br/>
                    
                    
                  <div class="docx-file-link"> <a href="{% static 'images/Abel et al jyly(2023).pdf' %}" download>
                    Abel et al jyly(2023).pdf,  volume 1(2) April,2023 Articls 7</a></div> 
                    <div class="docx-file-link"> <a href="{% static 'images/Ejeje et al 1(2) july, 2023 123.pdf' %}" download>
                      Ejeje et al 1(2) july, 2023 123.pdf,  volume 1(2) April,2023 Articls 8</a></div>
                      <div class="docx-file-link"> <a href="{% static 'images/Ebuka et al _1(2) July 2023 123.pdf' %}" download>
                        Ebuka et al _1(2) July 2023 123.pdf,  volume 1(2) April,2023 Articls 9</a></div> 
                        <div class="docx-file-link"> <a href="{% static 'images/Eko 1(2) 2023 July,123.pdf' %}" download>
                          Eko 1(2) 2023 July,123.pdf,  volume 1(2) April,2023 Articls 10</a></div>
                          <div class="docx-file-link"> <a href="{% static 'images/Okorie JOURN HEMATOLOGY HEPATIC  2023-1 corr-1 SEMI FINAL (1) (1) July,2023.pdf' %}" download>
                            Okorie JOURN HEMATOLOGY HEPATIC  2023-1 corr-1 SEMI FINAL (1) (1) July,2023.pdf,  volume 1(1) April,2023 Articls 11</a></div> 
                            <div class="docx-file-link"> <a href="{% static 'images/Ali et al manuscript (1) (1) (1) Revised 1 - Copy.pdf' %}" download>
                              Ali et al manuscript (1) (1) (1) Revised 1 - Copy.pdf,  volume 1(1) April,2023 Articls 12</a></div> 
                              <div class="docx-file-link"> <a href="{% static 'images/Onwe et al PGR 1 July,2023.pdf' %}" download>
                                Onwe et al PGR 1 July,2023.pdf,  volume 1(2) April,2023 Articls 13</a></div> 
                                <div class="docx-file-link"> <a href="{% static 'images/Chukwu et al July, 20231(2).pdf' %}" download>
                                  Chukwu et al July,2023(2).pdf,  volume 1(2) April,2023 Articls 14</a></div>
                                  <p class='volume-4-para'>volume 1(3) published october,2023</p><br/>
                              
                                  <div class="docx-file-link"> <a href="{% static 'images/Prof.Ositadinma vol.1(3) October,2023.pdf' %}" download>
                                    Prof.Ositadinma vol.1(3) October,2023.pdf,  volume 1(3) April,2023 Articls 15</a></div>
                                    <div class="docx-file-link"> <a href="{% static 'images/Prof Sikoki 1(3) October,2023.pdf' %}" download>
                                      Prof Sikoki 1(3) October,2023.pdf,  volume 1(3) April,2023 Articls 16</a></div>
                                      <div class="docx-file-link"> <a href="{% static 'images/Ukwa et al. October,2020.pdf' %}" download>
                                        Ukwa et al. October,2020.pdf,  volume 1(3) April,2023 Articls 17</a></div>
                                        <div class="docx-file-link"> <a href="{% static 'images/Dike et al October,2023.pdf' %}" download>
                                          Dike et al October,2023.pdf,  volume 1(3) April,2023 Articls 18</a></div>
                                          <p  class='volume-4-para'>volume 1(4) published December,2023</p><br/> 
                                          <div class="docx-file-link"> <a href="{% static 'images/Mba  et al December , 2023 1.pdf' %}" download>
                                            Mba  et al December , 2023 1.pdf,  volume 1(4) April,2023 Articls 18</a></div>


                            



  </div>
  </div>
{% endblock content %}