{% extends 'base/base.html' %}


{% block title %} Welcome {% endblock title %}
       

{% block content %}
  <div>
    
    
    
    
   <h2  class="edit-team-header-1"> Editorial Team</h2><br/><br/>
<p class="parag-1">Editor-In-Chief</p><br/><br/><br/>

 

<p class="parag-2">Prof. Onyekaci. F. Akanu Ibiam</p><br/><br/>

<p class="parag-3">Department of Biology, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria.</p><br/><br/><br/><br/><br/><br/><br/>

 

 

 

<p class="parag-4">Editorial Board</p><br/><br/>

 

<p class="parag-5">Dr Chinedum O Eleazu (Department of Biochemistry, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria).<br/><br/>

Dr. Obinna A. Oje (Department of Biochemistry, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria).<br/><br/>

Dr. Ogochukwu C.Chiama (Department of Biology, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria).<br/><br/>

Dr. Okoro Nworie (Department of Microbiology, Alex Ekwueme Federal Federal University, Ndufu-Alike , Ndufu-Alike ,Nigeria).<br/><br/>

Dr.  Celestine  A. Affiukwa (Department of Biotechnology, Alex Ekwueme Federal Federal University, Ndufu-Alike , Ndufu-Alike,Nigeria).</p><br/><br/>

 

<p class="parag-6">Editorial Advisers</p><br/><br/>

 

<p class="para-7">Prof. Chuma Okoro(Department of Microbiology,Alex Ekwueme Federal University,Ndufu-Alike, Nigeria).<br/><br/>

Prof.Friday N.Nweke (Department of Biotechnology,Alex Ekwueme Federal University,Ndufu-Alike, Nigeria).<br/><br/>

Prof. Ferdinand C. Chilaka (Department of Biochemistry,University of Nigeria).<br/><br/>

Prof. Ositadinma C. Ugbogu (Department of Microbiology,Abia State University, Nigeria).<br/><br/>

Prof. Francis D.Sikoki (Department of Biological Sciences,African University, Nigeria).<br/><br/>

Prof. Augustin A. Uwakwe (Department of Biotechnology,University of PortHarcourt,  Nigeria).<br/><br/>

Prof. Chibuike Udenigwe (University of  Ottawa, Canada)<br/><br/>

Dr. David Igwe (Cornell University, USA)</p><br/><br/>

 

<p class="parag-8">Business Manager</p><br/><br/>

<p class="para-9">Dr. Obinna A. Oje (Department of Biochemistry, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria).<br/><br/>

Editorial Secretary<br/><br/>

Dr. Michael  C. Ukaegbu (Department of Biology, Alex Ekwueme Federal University, Ndufu-Alike , Nigeria).<br/><br/>

Fin. Sec /Treasurer<br/><br/>

Deborah G.Obaji (Department of Biotechnology,Alex Ekwueme Federal University,Ndufu-Alike, Nigeria).</p><br/><br/>

 

<p class="parag-10">EDITORIAL  REVIEW BOARD MEMBERS</p><br/><br/>

<p class="parag-11">DR.  Ufere Nwankwo Ukah (Department of Biology,Ebonyi State University, Abakaliki.Nigeria).<br/><br/>

Dr. Lovina I. Udoh (Department of Botany,Akwa Ibom State University, Nigeria.<br/><br/>

Mr, Chidi Ezeibe Nwaru (Department of Plant Science and Biotechnology,Abia State University, Uturu. Nigeria).<br/><br/>

Dr. Precious M.Victor-Ekelelem (Department of Microbiology,Alex Ekwueme Federal University,Ndufu-Alike. Nigeria).<br/><br/>

Dr. Chima Egediwe-Ekeleme (Department of Biotechnology,Alex Ekwueme Federal University,Ndufu-Alike,Nigeria).</p><br/><br/>
    

  </div>

{% endblock content %}