{% extends 'base/base.html' %}


{% block title %} Welcome {% endblock title %}
       

{% block content %}

  <div>
    <h2 class="guidelines">Guidelines For Authors</h2>
<p class="guidelines-style">We accept original  research articles , review articles, case studies,  and short communications. Prospective contributors who <br> wishe to publish their papers in our journal (International  Journal of Biological Science and Molecular Research (IJBSMR)<br>  should submit their manuscripts following the guidelines of the journal:<br/><br/> </p>

<h4 class="para-1">1.Type, using double line spacing from Abstract to References, in font size 12 Times New Roman .</h4>

<p class="para-2">i. Manuscript pages should be numbered consecutively and arranged in the following order:<br/><br/>

ii.Title in font size 14<br/><br/>

iii.Title page (containing paper title, author(s) name(s) and their affiliation(s) with an indication of the corresponding author Email, and in font 10 ;<br/><br/>

iv.Major  sub-headings should be in  font size 12, Times New Roman, and minor sub-headings, in  font size 10.<br/><br/>

v. Abstract (not more than 150-250 words); with short Background, Methodology, Results and Conclusions.<br/><br/>

vi. Key words: Not more than 6 key words, in font size 10 <br/><br/>

vii. In text: Introduction, Materials and Methods, Results,Discussion, Conclusions and<br> Recommendations, Acknowledgement(if necessary), Ethical issues,Funding,Author contribution, Conflict of interest .<br/><br/>

viii. In text citations- Okorie (2020) for a single author; Nwalobu and Ibiam(2017); <br>for two  authors; Ukwa et al.( 2022) for more than two authors; authors in a bracket (Ibiam et al.,2017;Okorie,2020;  Oti,2022;Ukwa et al., 2022)<br/><br/>

ix. References must include author(s) name(s), year of publication, title of paper,<br> journal, volume and page numbers. (In-text citation and References should follow APA referencing style).</p><br/><br/>

<p class="para-jou-art">Journal Article<br/><br/>

Gamelin, F.X., Baquet, G., Berthoin, S., Thevenet, D., Nourry, C., Nottin, S., and Bosquet, L. (2009). Effect <br>of high intensity intermittent training on heart rate variability in prepubescent children. European  _Journal of  Applied Physiology .105: 731-738.<br/><br/> 

Article with DOI<br/><br/>

Slifka, M.K. and Whitton, J.L (2000). Clinical implications of dysregulated cytokine production. Journal of Molecular Medicine doi:10.1007/s001090000086<br/><br/>

Book<br/><br/>

South, J and Blass, B. (2001). The future of modern genomics. Blackwell, London.<br/><br/>

Book chapter<br/><br/>

Brown, B and Aaron, M. (2001). The politics of nature. In: Smith J (ed) The rise of modern genomics, 3rd edn. Wiley, New York, pp 230-257.<br/><br/>

Online document<br/><br/>

Cartwright, J (2007). Big stars have weather too. IOP Publishing PhysicsWeb. http://physicsweb.org/articles/news/11/6/16/1. Accessed 26 June 2007<br/><br/>

Dissertation<br/><br/>

Trent, J.W. (1975). Experimental acute renal failure. Dissertation, University of California, Berkeley.<br/><br/>

Events</p><br/><br/>

<p class="para-5">Döbereiner J. (1998). Função da fixação de nitrogênio em plantas não leguminosas e sua importância<br> no ecossistema brasileiro. In: Anais do IV Simpósio de Ecossistemas Brasileiros (S Watanabe, coord.). Aciesp, São Paulo, v.3, pp.1-6<br/><br/>

x. The heading of each section should be bold and left justified. The text must begin on the next line after each heading.<br/><br/>

xi. All figures, tables, plates and authors must be placed as cited within the text and should be numbered consecutively with suitable legends.<br/><br/>

xii. Manuscript may contain as many tables, figures and plates as possible, as long as the paper does not exceed eight (8) pages.<br/><br/>

xiii. Mathematical symbols and formulae should be numbered consecutively within the text. Uncommon and ambiguous symbols should  be explained.<br/><br/>

xv. Use the international system of units (SI). Authors should also provide alternate units in parentheses for the convenience of readers <br>who are not versed in the use of S.I. Units.<br/><br/>

xvi.Maximum number of pages is 8 single spacing, and 16 pages double spacing. Any extra page and colour print will attract extra<br/><br/>

charges.</p><br/><br/>

<p class="para-20">xvii.ALL ARTICLES SHOULD BE SUBMITTED TO: The  Editor-In-Chief INTERNATIONAL JOURNAL OF BIOLOGICAL  SCIENCE <br>AND MOLECULAR RESEARCH Through the website</p><br/><br/>

<h4 class="para-1">2.Open access statement</h4>

<p class="para-4">This journal provides immediate open access to its content on the principle that making research freely available<br> to the public supports a greater global exchange of knowledge.</p> <br/><br/>

 

<h4 class="para-1">3. Ethical issues</h4>

<p class="para-5">All studies  on human subjects and animals, should  follow standard guidelines, and authors should <br>indicate whether the procedures followed the guidelines and ethical standards. Ethical clearance from the<br> ethical committee of the institution should be  attached, if possible.</p><br/><br/>

 

 <h4 class="para-1">4.Plagiarism/ peer review  policy</h4>

<p class="para-6">Plagiarism has to do with copying any form of work(s) of others  intentionally, without proper<br> reference to the original source(s). This  could be in form of self  duplication, or of other authors' work verbatim,<br> or in bits without proper reference to the original source(s).</p><br/><br/>

<p class="para-12">Any plagiarism check on any articles that is <12 at point of submission, is sent for review; any > 20 is<br> retuned to the authors for further reduction of plagiarism. However,If the author(s) decide(s)to return the article for a further review,it must be returned with additional<br> processing fee.Hence, authors must go through the guidelines for authors before submitting their articles at the website.<br/><br/>

The journal promises high quality plagiarism check and double blind review of submitted articles,  and strict adherence to all<br> ethical guidelines. Any articles that fall short of the ethical guidelines will be rejected. Authors should ensure that all final articles submitted should be within<br> plagiarism  range of 0-12% after review and final submission.</p><br/><br/>

 

<h4 class="para-1">5.Funding</h4>

<h4 class="para-1">Authors should indicate sources of fund / collaboration if any<br/><br/>

 

<h4 class="para-1">6.Author contribution</h4>

<p class="para-7">The contribution of each author  should be stated.</p><br/><br/><br/>

 

 <h4 class="para-1">7.Conflict of interest</h4>

<p class="para-7">Authors should confirm  no conflict of interest, by attaching a statement indicating no conflict of interest signed by the authors.</p><br/><br/>

 

<h4 class="para-1">8.Privacy statement</h4>

<p class="para-8">The names and email addresses entered in the site of this journal will be used<br> exclusively for the purposes as stated  by this journal, and will not be made available for <br>any other purpose or to any other party.</p><br/><br/>

 

<h4 class="para-1">9.Publication ethics and malpractice</h4>

<p class="para-9">Authors submitting manuscripts to IJBSMR should ensure that:<br/><br/>

i. the manuscript has not been submitted to or published in any other  journal.<br/><br/>

ii. the results  represent the authors’ original research without any form of  plagiarism.<br/><br/>

iii. all the deserving authors have been included, and have approved the paper before submission.<br/><br/>

Note: The first and corresponding author takes responsibility for the entire manuscript, and any<br> failure to abide by these standards will lead to rejection of the manuscript and possible <br> suspension of future publication privileges in IJBSMR.</p><br/><br/>

 
 
<h4 class="para-1">10.Article Publication Charges</h4>

<p class="para-10">All articles being sent to this journal must be accompanied by a processing fee of N5,000.00 / $6, Nigeria Outside $10 before it will be attended to.<br/><br/>

The publication charges for all accepted papers are:<br/><br/> 

Nigeria N25,000.00 /$30, <br/><br/> 

Africa ------$75<br/><br/>

Outside Africa--$100-200<br/><br/>

after official acceptance or before publication. However, payment for publication does not influence the peer review process.<br/><br/>

 

Mode of payment<br/><br/>

Nigeria- Zenith Bank Nig. Plc     1228897591<br/><br/>

Outside Nigeria - Western Union Transfer<br></p>


  </div>
{% endblock content %}