{% extends 'base/base.html' %}


{% block title %} Welcome {% endblock title %}
       

{% block content %}

  <div>
    <h2 class="history-journal-heading">History Of The Journal</h2>
    <p class="history-para">The International Journal of Biological Science and Molecular Research is a publication of the Faculty of Biological Sciences,<br> Alex Ekwueme University, Ndufu-Alike, Ebonyi State, Nigeria. The faculty houses four programs - Biochemistry, Biology ( Botany <br> and Zoology), Biotechnology and Microbiology.<br><br/>
    
    This journal is a maiden publication, and double blind review was followed to review all the articles published. Quality<br> academics were involved in the review of these articles, which are of high quality . The articles seek to disseminate scientific<br> knowledge which contribute to global knowledge towards food security, good health, environmental, technological, economic <br> and sustainable development of any nation.<br/><br/>
    
    The Editorial team has worked tirelessly to bring this journal into a dream come through, and I thank them immensely.<br><br/><br/>
    
    We invite academics in all areas of agriculture, animal science, food technology and engineering, crop science and production,<br> medical molecular etc. to submit their articles for publication in this journal.<br/><br/>
    
    Professor Onyekachi Francis Akanu Ibiam<br/><br/>
    
    Editor-In -Chief</p><br/>
  </div>
{% endblock content %}