{% extends 'base/base.html' %} 
{% block title %}search{% endblock title %}



{% block content %}
<h1 class="category-detail-title">search</h1>
<h2 class="search-button"><p>search result for "{{q}}":</p></h2>

{% if articles %}
<div class="home-grid-container">
    <div class="home2-grid-container">
  
  
          {% for article in articles %}
          <p class="article-images"><img class="article-images-2"  src=" {% if article.image %} {{article.image.url}} {% endif %}"></p><br/>
          {% endfor %}
       
      </div>


      <div>
      {% for article in articles %}
      
            <p class="post-article"><a class="link-button-style"
               href="{% url 'article-detail' article.pk %}  ">{{article.title}}</a> </p><span>{{article.created|timesince}} ago</span><br/>
            <p class="article-author-name">{{article.name_of_corresponding_author}}</p><br/>
            
              <a class="detail-page-link" href="{% url 'article-detail' article.pk %}">
                  
                      View Full Article</a>
       {% endfor %}
  </div>
</div>
{% else %}
<p class="searceh-para">There are no article matching this query</p>
{% endif %}
{% endblock content %}
